{% extends 'base.html.twig' %}



{% block body %}

    {{ form_start(form) }}
    {{ form_row(form.firstname) }}
    {{ form_row(form.lastname) }}
    {{ form_row(form.email) }}
    {{ form_row(form.phone) }}
    {{ form_row(form.subject) }}
    <button type="submit">Submit</button>
    {{ form_end(form) }}



{% endblock %}
